[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django = "*"
mysqlclient = "*"
coverage = "*"
djangorestframework = "*"
django-cors-headers = "*"
markdown = "*"
django-filter = "*"
django-pygments = "*"

[dev-packages]

[requires]
python_version = "3.9"
